@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@100;200;400&display=swap');

.font-heading {
    font-family: 'Playfair Display', serif;
}

.font-label {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: red;
    letter-spacing: 0.1em;
    font-weight: 200;
}
